- places.each do |place|
  %h2= place['name']

  %p= "#{place['location']['lat']} - #{place['location']['lng']}"

  -place['photos'].each do |photo|
    %img{src: photo}

<div id='hotelamenity_635027053542310767'></div><script type='text/javascript' src='http://widgets.partners.expedia.com/daily/shared/affiliates/WidgetService.aspx?partner=direct&size=250x250&destination=London&widgetname=hotelamenity&divid=hotelamenity_635027053542310767&langid=1033'></script>
