/*@import url(http://fonts.googleapis.com/css?family=Lato:100,300);*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/Kom15zUm24dIPfIRiNogNuvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

* {
	font-family: 'Lato', Helvetica, Arial, Verdana, sans;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	position: relative;
	height: 100%;
}

body {
	background: #fff;
	color: #222;
	font-size: 60.5%;
}

#wrapper {
	position: relative;
	height: 100%;
}

article {
	display: block;
}

	#wrapper article {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	.hidden {
		opacity: 0;
		display: none;
	}

	#page_index {
		overflow: hidden;
	}
		#page_index > img {
			position: absolute;
			width: 100%;
			height: auto;
			top: 0;
			left: 0;
			z-index: 0;
		}

		#search_form {
			display: block;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			z-index: 1;
		}

			#search_form h1, #search_form input {
				font-size: 3rem;
			}

			#q.error {
				background: rgba(255, 0, 0, 0.3);
			}

			
	#page_results {
	}

		#page_results > img {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}

		#page_results .buttons {
			position: fixed;
			top: 0;
			right: 0;
			list-style-position: inside;
			list-style-type: none;
		}
			#page_results .buttons li {
				display: inline;
			}
				#page_results .buttons input {
					width: 40px;
					height: 40px;
				}

		#page_results > div {
			position: absolute;
			left: 0;
			bottom: 0;
			color: white;
			text-shadow: 1px 1px 1px black;
			background: rgba(0, 0, 0, 0.4);
			padding: 1rem;
			width: 100%;
		}
			#page_results h1 {
				font-size: 2rem;
			}

			#page_results h2 {
				font-size: 1.5rem;
				padding-bottom: 0.25rem;
			}

			#page_results .description {
				font-size: 1rem;
			}
	
	#page_map {

	}
		#page_map .mapContainer {
			position: fixed;
			top: 0;
			left: 0;
			height: 40%;
			width: 100%;
			z-index: 1;
		}
			#page_map .map {
				height: 100%;
			}

		#page_map .itinerary {
			position: absolute;
			top: 40%;
			height: 100%;
			padding: 1%;
		}
			#page_map h1 {
				font-size: 2rem;
			}

			#page_map h2 {
				font-size: 1.5rem;
				padding-bottom: 0.25rem;
			}
			
			.itinerary ul {
				list-style-type: none;
			}

